@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: Barlow,'Times New Roman', Times, serif;
    font: weight 300px;
    color: #333
}

 /* Menu and home Heading */

 h1, h2 {
     font-family: barlow, 'Times New Roman', Times, serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     color:#333;
}

#logo {
    float: left;
    font-size: 200%
}

#menu {
    font-size: 125%;
    letter-spacing: 2px;
    background-color:#115500;
    list-style-type: none;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    float: right;
    margin-right: 20px;
   }

#menu a {
    text-transform: uppercase;
    text-decoration: none;
    color:#115500;
}

#menu a:hover {
    border-bottom: 2px solid #333;
}

.viewing {
    border-bottom: 2px solid #333;
}

/* Hero Image */
 

#home-hero-image {
    height: 600px;
    width:100%;
    background: url(/assets/images/home_hero.jpg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#home-hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Why visiting Falcarragh section */

#visit-top-block {
    height:600px;
}

/* Block Left top */

#top-left-block {
    padding: 25px;
    width: 50%;
    float:left;
}

#top-left-block-heading {
    border-bottom: 2px;
    border-color: #333;
}

hr {
    border-top: 2px solid #333;
    margin: 5px 0;
}

#top-right-block {
    padding: 50px;
    width:50%;
    float: right;
}