@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: Barlow,'Times New Roman', Times, serif;
    font: weight 300px;
    color: #333
}

 /* Menu and home Heading */

 h1, h2 {
     font-family: barlow, 'Times New Roman', Times, serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     color:#333;
}

#logo {
    float: left;
    font-size: 200%;
    padding-left: 15px;
}

#menu {
    font-size: 125%;
    letter-spacing: 2px;
    background-color:#115500;
    list-style-type: none;
    padding-right: 15px;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    float: right;
    display: inline;
    margin-right: 20px;
   }

#menu a {
    text-transform: uppercase;
    text-decoration: none;
    color:#115500;
}

#menu a:hover {
    border-bottom: 2px solid #333;
}

.viewing {
    border-bottom: 2px solid #333;
}

/* Hero Image */
 

#home-hero-image {
    height: 400px;
    width:100%;
    background: url(/assets/images/home_hero.jpg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#home-hero-outer {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*Home Section */

#welcome-falcarragh {
    height: 600px;
}

hr {
    margin:10px;
    width:100%;
}

#left-section {
    padding-top: 30px;
    width: 48%;
    float: left;
}

.left-section-heading {
    width: 50%;
    margin-left: 40px;
    padding: 10px;
    line-height: 20px;
    clear:both;
    font-size: 125%;
}

#right-section {
    padding-top: 30px;
    width: 49%;
    float: right;
}


 /* Bottom Section */

#home-bottom {
    height: 600px;
}

.right-bottom-heading {
    width: 50%;
    margin-left: 40px;
    padding: 10px;
    line-height: 20px;
    clear:both;
    font-size: 125%;
}

#right-bottom-area {
    padding-top: 10px;
    width: 49%;
    float: right;
}

#left-bottom-area {
    padding-top: 30px;
    width: 49%;
    float: right;
}

 /* Footer */

 footer {
     height: 150px;
 }

 .social-networks {
     text-align: center;
 }

 .social-networks > li {
     display: inline;
 }

 .social-networks i {
     font-size: 175%;
     margin: 1%;
     padding: 5%;
     color: #333;
 } 

 #pictures {
     clear:both;
     line-height:0;
     column-count: 4;
     column-gap: 2px;
 }
 
 #pictures > img {
     width:100%
 }