@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: Barlow,'Times New Roman', Times, serif;
    font: weight 300px;
    color: #333
}

 /* headings and home logo */

 h1, h2 {
     font-family: barlow, 'Times New Roman', Times, serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     color:#EACE09;
}

h1 span {
    background-color:#115500;
}

#logo {
    float: left;
    font-size: 200%
}
